{% extends "layout.html" %}
{% block content %}
    <h1>About yogapose.app</h1>
    <p> Yogapose is an AI-powered asana assistant that uses computer 
        vision to evaluate asanas / yoga postures in an uploaded 
        image. The goal is not to replace a yoga teacher but 
        rather to fill in the gap  
        during an individuals practice when a teacher 
        might not be present. This is a personal project.
    </p>

    <p>Your data is not sold or shared with third parties and you 
        always have the option to delete your images and/or your 
        account at all time.</p>    

    <p>The image processing model used here, uses the dataset from 
    <cite><a href="https://sites.google.com/view/yoga-82/home">Yoga-82: A New Dataset for Fine-grained Classification of Human Poses [2020] </a> 
    by M.Verma, S. Kumawat, Y. Nakashima and S. Raman in IEEE/CVF Conference on Computer Vision and Pattern Recognition Workshops</cite>.</p>
    
{% endblock content %}