{% extends "layout.html" %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h2>Post your yoga pose ...</h2>
    <p class="lead text-muted">... and see how well you did it!</p>
    {% if current_user.is_authenticated  %}
      <a href="{{ url_for('users.user_posts', username=current_user.username) }}"><h1 class="mb-3 text-center">My posts</h1></a>
    {% else %}
      <p class="lead text-muted">...<a href="{{ url_for('users.login') }}">Login</a> or <a href="{{ url_for('users.register') }}">Register</a>...</p>
      <p class="lead text-muted small">We don't sell your data to third parties <br> You may delete your account at any time</p>
    {% endif %}
  </div>
</section>
{% if not current_user.is_authenticated  %}

<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-sm">
      <img src="static/landing-1.jpg" alt="Example Upload and Score" class="img-fluid pt-3 pb-3">
    </div>
    <div class="col-sm">
      <img src="static/landing-2.jpg" alt="Example Upload and Score" class="img-fluid pt-3 pb-3">
    </div>
  </div>
</div>

{% endif %}

{% endblock content %}
	  
