{% extends "layout.html" %}
{% block content %}
<h1>Website Terms and Conditions of Use</h1>

<h2>1. Acceptance of the Agreement</h2>

<p>By accessing this Website, accessible from yogapose.app, you are agreeing to be bound by 
    these Website Terms and Conditions of Use and agree that you are responsible for the 
    agreement with any applicable local laws. 
    If you disagree with any of these terms, you are prohibited from accessing this site. 
    The materials contained in this Website are protected by copyright and trade mark law.
</p>

<h2>2. Eligibility</h2>
<p>The Websites and Services are not targeted towards, nor intended for use by, anyone 
    under the age of 18. By using the Websites and Services, you represent and warrant t
    o us that: (a) you are 18 years of age or older; or (b) you otherwise have sufficient 
    legal consent, permission and capacity to use the Websites and Services in 
    applicable jurisdiction(s) as determined by you.
</p>

<h2>3. Your Content</h2>
<p>As a part of your use of the Website you may upload or make available some 
    content including, but not limited to, images of you and/or other people and/or with 
    other content ("Content"). 
</p>

<p>You are solely responsible for the Content you upload or otherwise make available 
    through the Website. Your Content must not include content that is illegal, obscene, 
    harassing, hateful, or otherwise inappropriate, including promoting illegal activities. 
</p>

<p>When you upload your Content on the Website, you warrant 
    that: 
</p>
<ul>
    <li>you possess all required rights and permissions to upload or otherwise make 
        available the Content; </li>
    <li>the use of your Content does not violate, misappropriate or infringe any 
        third-party rights, including intellectual property rights, privacy rights, 
        publicity rights, or other property rights. </li>
</ul>
<p> By uploading Content to the Website, you grant Yogapose an irrevocable, 
    worldwide, non-exclusive and royalty-free licence to use, download, copy, modify or 
    adapt, the Content (in whole or in part) for any purpose, both commercial and 
    non-commercial.
    Furthermore, you allow Yogapose to use your content to improve the Website.
</p>

<p>We also reserve the right to remove any Content at any time and for any reason.    
</p>


<h2>2. Use License</h2>

<p>Permission is granted to temporarily download one copy of the materials on Yogapose's 
    Website for personal, non-commercial transitory viewing only. This is the grant of a 
    license, not a transfer of title, and under this license you may not:</p>

<ul>
    <li>modify or copy the materials;</li>
    <li>use the materials for any commercial purpose or for any public display;</li>
    <li>attempt to reverse engineer any software contained on Yogapose's Website;</li>
    <li>remove any copyright or other proprietary notations from the materials; or</li>
    <li>transferring the materials to another person or "mirror" the materials on any 
        other server.</li>
</ul>

<p>This will let Yogapose to terminate upon violations of any of these restrictions. 
    Upon termination, your viewing right will also be terminated and you should destroy 
    any downloaded materials in your possession whether it is printed or electronic format. 

<h2>3. Disclaimer</h2>

<p>All the materials on Yogapose’s Website are provided "as is". Yogapose makes no 
    warranties, may it be expressed or implied, therefore negates all other warranties. 
    Furthermore, Yogapose does not make any representations concerning the accuracy or 
    reliability of the use of the materials on its Website or otherwise relating to such 
    materials or any sites linked to this Website.</p>

<h2>4. Limitations</h2>

<p>Yogapose or its suppliers will not be held accountable for any damages that will 
    arise with the use or inability to use the materials on Yogapose’s Website, even 
    if Yogapose or an authorized representative of this Website has been notified, 
    orally or written, of the possibility of such damage. 
    Some jurisdiction does not allow limitations on implied warranties or limitations of 
    liability for incidental damages, these limitations may not apply to you.
</p>

<h2>5. Revisions and Errata</h2>

<p>The materials appearing on Yogapose’s Website may include technical, typographical, or 
    photographic errors. Yogapose will not promise that any of the materials in this 
    Website are accurate, complete, or current. Yogapose may change the materials 
    contained on its Website at any time without notice. 
    Yogapose does not make any commitment to update the materials.</p>

<h2>6. Links</h2>

<p>Yogapose has not reviewed all of the sites linked to its Website and is not responsible 
    for the contents of any such linked site. The presence of any link does not imply 
    endorsement by Yogapose of the site. The use of any linked website is at the user’s 
    own risk.
</p>

<h2>7. Site Terms of Use Modifications</h2>

<p>Yogapose may revise these Terms of Use for its Website at any time without prior notice. 
    By using this Website, you are agreeing to be bound by the current version of these 
    Terms and Conditions of Use.
</p>

<h2>8. Your Privacy</h2>

<p>Please read our Privacy Policy.</p>

<h2>9. Governing Law</h2>

<p>Any claim related to Yogapose's Website shall be governed by the laws of Germany without 
    regards to its conflict of law provisions.
</p>

{% endblock content %}