{% extends "layout_jumbotron.html" %}

{% block head %}
{{ super() }}
<script>
    gtag('set', 'location', 'https://yogapose.app/user/xxx/todo');
</script>
{% endblock %}

{% block content %}
{{ super() }}

<div class="container-fluid mb-3 mt-3 text-center">
    <button type="button" class="btn btn-primary" disabled>To-Do List</button>
    <a href="{{ url_for('users.user_posts', username=current_user.username) }}" class="btn btn-primary active" role="button" aria-pressed="true">Your Posts</a>
</div>

<div class="container-fluid mb-3 mt-3 text-center">
    <h3>Hi {{ user.username}}!</h3>
    <p class="text-center">You have completed <strong>{{ done_list|length }}</strong> out of 
        {{ done_list|length + not_done_list|length}} asanas. </p>
</div>


<div class="mb-3 mt-3 container">

    <ul class="list-group">
        {% for done in done_list %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path style="color: green;" d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
            {{ done[0].capitalize() }} 
            </div>
            <span class="badge badge-primary badge-pill">{{ done[1] }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="mb-3 mt-3 container">
    <p class="text-center">Post to complete these asanas</p>
    <ul class="list-group">
        {% for not_done in not_done_list %}
        <li class="list-group-item list-group-item-dark d-flex justify-content-between align-items-center">
            <div class="align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path style="color: red;" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            {{ not_done[0].capitalize() }}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
